# compiled output
.swc/
dist/
node_modules/

# OS
.DS_Store

# Tests
reports/

# IDEs and editors
.idea/
!.idea/jsLinters
!.idea/runConfigurations
!.idea/dma-as.iml
!.idea/modules.xml
!.idea/prettier.xml
!.idea/vcs.xml
!.idea/workspace.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
